notes/
.venv

instance/

__pycache__/
*.py[cod]
*.pyo

.pytest_cache/

.env
.env.*
*.env
*.local

*.log
*.sqlite3
*.db
*.sqlite

.idea/
.vscode/
.windsurf/
.claude/
.DS_Store
thumbs.db
**/comp.txt
**/static/.local