<p>
  Some our best tools for distinguishing synthetic media are our eyes and minds. Trace Machine maintains a community database of image consensus, where users can vote on whether an image is AI-generated or not.
</p>
<div class="flash-warning">
  <strong>Important limitation:</strong> The unfortunate truth is that synthetic media is a powerful tool for deception -- people may want to misrepresent an AI-generated image as real or vice versa. You're welcome to vote because an image "looks AI-generated" or "looks real," but if you're not sure, err on the side of caution and abstain from voting. Human consensus is not infallible; treat it as what it is: just one data point among many.
</div>